<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">아래 장소를 추천 합니다</div>
  <div class="list-group list-group-flush">
    <% review.forEach(review => { %>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href=""><%= review.author_name %></a>
    <% }) %>
  </div>
</div>