<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주변 추천</title>
  <script>
    var LatlngData = <%- JSON.stringify(Latlng) %>;
  </script>
</head>
<body>
  <div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <% include sidebar.ejs %>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <% include nav.ejs %>
        <!-- Page content-->
        <div class="container-fluid">
          <div id="map" style="width: 100%; height: 800px;"></div>
        </div>
    </div>
</div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../assets/dist/js/scripts.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../assets/dist/css/styles.css" rel="stylesheet" />

    <script defer src="../assets/google/js/index.js"></script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeqeFz2h2t3SRUE-QiD0Ss4XnniDHZ9_k&callback=initMap"
    ></script>
</body>
</html>